:root{
    --pink:#e84393;
}



*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline-style: none; border: none
    text-decoration : none;
    <text-transform:capitalize>
    ::view-transition:.2s linear;
}
html{
    font-size: 63%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden;
}
header{
    position :absolute;
    top:0;left:0;right:0;
    background: #fff;
    padding: :2rem 9%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index: 1000;
    box-shadow:0.5rem 1rem  radialGradient(0,0,0,.1)

}
header .logo{
    font-size: 3rex;
    color: darkslategray;
    font-weight: bolder;
}
header .logo span{
    color: var(--pink);
}
header .navbar a{
    
}